.App {
  text-align: left;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.flagimg{
  /* height: 75%;
  width: 75%; */
  border-style: solid;
  border-color: blue;
  border-radius: 5px;
}